@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://images.pexels.com/photos/2748715/pexels-photo-2748715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    /* background-repeat: no-repeat; */
}

/***** Navbar *****/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(35px);
    color: #fff;
    padding: 10px 40px;
}

/* Logo and Links */
.logo-and-links ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo-and-links ul li{
    list-style-type: none;
}

.logo-and-links ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
}
.logo-and-links ul li a:hover{
    color: #B90EC5;
    border-bottom: 2px solid #B90EC5;
}

.logo-and-links ul li:first-child{
    border-right: 2px solid #fff;
}

.logo-and-links ul li img{
    width: 60%;
}

/***** Button *****/
nav button{
    background-color: #B90EC5;
    padding: 6px 24px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 600;
}

nav button:hover{
    background-color: #fff;
    border: 2px solid #B90EC5;
    color: #B90EC5;
    cursor: pointer;
}

/***** Hero Main *****/

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

main h1{
    color: #fff;
    font-size: 60px;
    line-height: 70px;
}

main p{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin: 20px 0 40px 0;
}

main button{
    background-color: #B90EC5;
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 100%;
}

main button:hover{
    background-color: #fff;
    border: 2px solid #B90EC5;
    color: #B90EC5;
    cursor: pointer;
}
