.container {
    text-align: center;
    margin-top: 20%;
}

.box1 {
    border-radius: 10px;
    margin: 0 auto;
    max-width: 430px;
    height: 130px;
    background-color: rgba(6, 4, 4, 0.245);
}

.btn {
    margin-top: 20px;
    padding: 10px 40px;
    border: none;
    background-color: rgb(66, 192, 66);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.btn:hover{
    background-color: green;
    transition: 0.2s ease;
    box-shadow: 3px 3px 20px green;
}

.hexColorCode, .rgbColorCode {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.hexColorCode{
    padding-top: 20px;
}

span{
    white-space: nowrap;
    color: rgb(42, 210, 5);
}