* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: #edf1fd;
    font-family: 'Poppins', sans-serif;
    width: 85vw;
    height: 100vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li {
    display: inline-flex;
    list-style-type: none;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li a:hover {
    text-decoration: 2px underline;
    color: #008000;
    font-size: 18px;
}

section {
    display: flex;
    align-content: center;
    align-content: center;
    justify-content: space-around;
}

.hero-left {
    margin-top: 110px;
}

.hero-left h1 {
    font-size: 40px;
}

.hero-left p {
    font-size: 15px;
    margin: 15px 0;
}

.hero-left button {
    background-color: #008000;
    color: #fff;
    border: none;
    /* border: 1px solid white; */
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.hero-left button:hover {
    background-color: #fff;
    color: #008000;
}

.hero-right {
    margin-left: 20%;
    /* min-width: 200px; */
}

.two img {
    width: 180px;
}

.one img {
    width: 375px;
    height: 190px;
    margin-bottom: 100px;
    margin-top: 5px;
}